
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url('https://wallpaperaccess.com/full/627571.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-family:  georgia;

}

nav {
    background: rgb(97, 21, 69);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 50px;  
    height: 45px; 
    margin-right: 10px;   
    filter : invert(0.85) sepia(0.3) hue-rotate(-50deg) saturate(2);
}

.logo {
    font-family: 'Matemasie', sans-serif;  
    color: rgb(224, 142, 155);  
    font-size: 24px;
}
 

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav ul li a:hover {
    background: #d1adbf;  
    color: black;
}
 
.content {
    background-color:   TRANSPARENT;
    backdrop-filter: blur(55px); 
    border :2px solid #FFF0F5; 
    border-radius: 15px;  
    box-shadow:  #555;  
    padding: 20px;
    width: 60%;
    margin: 40px auto;
    color: #333; /* Text color for better readability */
    text-align: center; /* Center-aligns text and inline elements */
}

.content .wisk {
    display: block;  
    margin: 20px auto;  
    width: 60px;
  
    height: auto;  
}

.content h1{
    font-family: 'Matemasie', sans-serif;
}

 

.content h1, .content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content p {
    line-height: 1.6;
    text-align: justify;
}
 

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 40px auto;
}

.recipe-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
h1{
    font-family: 'Pacifico', cursive;
}

.recipe-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-item img {
    width: 100%;
    height: 200px; 
    object-fit: cover;  
    border-bottom: 1px solid #ddd;  
}

.recipe-item label {
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #555;
}

/* Add some responsiveness */
@media (max-width: 768px) {
    .content {
        width: 90%;
    }
    
    .gallery {
        width: 95%;
    }
}